.row {
  display: flex;
  margin-left: 2%;
}

.img-rounded.img-responsive.center-block {
  width: 500px;
  border-radius: 20%;
  box-shadow: 5px 10px 8px #353434;
}

.img-circleB {
  margin-left: 8%;
  border-radius: 100%;
  width: 40%;
  box-shadow: 5px 10px 8px #353434;
  margin-top: 15%;
  margin-bottom: 5%;
}

.pServicios {
  margin-left: 0;
}

.col-3 {
  justify-content: center;
  text-align: center;
}

h2 {
  justify-content: center;
  align-items: center;
}

.container.marketing {
  background-color: buttonface;
}