.containerServicios{
  background-color: buttonface;
  padding: 2rem;
}

.row {
  display: flex;
}
.img-rounded.img-responsive.center-block {
  border-radius: 10px;
}
.textSection{
  width: 50%;
}
.img-circleB {
  display: flex;
  border-radius: 100%;
  width: 35%;
}
image{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pServicios {
  margin-left: 0;
}

.col-lg-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
  justify-content: center;
  align-items: center;
}
.divider {
  margin: 4rem;
}
.featurette-heading {
  font-weight: 400;
  letter-spacing: 1px;
}
.container.marketing {
  background-color: buttonface;
}
@media(max-width: 1360px){
  .img-circleB{
    width: 55%;
  }
}
@media(max-width: 1000px){
  .img-rounded.img-responsive.center-block{
    display: none;
  }
  .img-circleB{
    width: 20%;
  }
  .textSection{
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
@media(max-width: 768px){
  .img-circleB{
    width: 25%;
  }
}
@media(max-width: 450px){
  .img-circleB{
    width: 35%;
  }
}
@media(max-width: 320px){
  .img-circleB{
    width: 60%;
  }
}