.gridContainerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridContainer {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: auto; */
  gap: 1rem;
  margin-bottom: 5rem;
}

.mainContainerMain {
  background-color: buttonface;
}

.mainContainerMain h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;

}

.mainContainerMain a {
  text-decoration: none;
  color: black;

}

.mainContainerMain a:visited {
  text-decoration: none;
  color: black;
}

.mainContainerMain a:hover {
  text-decoration: none;
  color: black;
}

.mainContainerMain a:link {
  text-decoration: none;
}

.explora {
  text-align: center;
}
/*/////////////////////////////////MEDIA//////////////////////////////////////////////*/
/* @media(max-width: 2560px){
  .gridContainer {
    width: 70%;
  }
} */
@media(max-width: 1920){
  .gridContainer {
    width: 60%;
  }
}
  @media(max-width: 1024px){
  .gridContainer {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 5rem;
  }
}
@media(max-width: 768px){
  .gridContainer {
    width: 70%;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 5rem;
  }
}
@media(max-width: 450px){
  .gridContainer {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-bottom: 5rem;
  }
}