.containerEmpresa{
  padding: 2rem;
  background-color: buttonface;
}
.circleImgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-lg-4{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.textSections{
  width: 50%;
}
.image{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.marketing h2 {
  font-weight: normal;
  padding: 10px;
  margin-left: 8%;
}

.img-circle {
  border-radius: 100%;
  box-shadow: 5px 10px 8px #353434;
  width: 25%;
}

.lead {
  letter-spacing: 1px;
}

.featurette-divider {
  margin: 4rem 0;
}

.featurette-heading {
  font-weight: 400;
  letter-spacing: 1px;
}

.img-rounded.img-responsive.center-block {
  width: 500px;
  border-radius: 20%;
  box-shadow: 5px 10px 8px #353434;
}

.container.marketing {
  background-color: buttonface;
  position: absolute;
  max-width: 100%;
  padding: 0 0;
}
@media(max-width:1024px){
  .img-circle{
    width: 45%;
  }
}
@media(max-width: 1000px){
  .img-rounded.img-responsive.center-block{
    display: none;
  }
  .img-circle{
    width: 55%;
  }
  .circleImgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .textSections{
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

}
@media(max-width: 450px){
  .img-circle{
    width: 55%;
  }
}
@media(max-width: 320px){
  .img-circle{
    width: 60%;
  }
}