.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.row{
  display: flex;
}
.textSections{
  width: 50%;
}
.marketing h2 {
  font-weight: normal;
  padding: 10px;
  margin-left: 8%;
}

.img-circle {
  border-radius: 100%;
  margin-left: 4%;
  box-shadow: 5px 10px 8px #353434;
}

.lead {
  letter-spacing: 1px;
  margin-left: 5%;
}

.featurette-divider {
  margin: 50px 0;
}

.Footer {
  width: 100%;
  padding: 0;
  margin: 0;
}

.featurette-heading {
  font-weight: 400;
  letter-spacing: 1px;
}

.img-rounded.img-responsive.center-block {
  width: 500px;
  border-radius: 20%;
  box-shadow: 5px 10px 8px #353434;
}

.container.marketing {
  background-color: buttonface;
  position: absolute;
  max-width: 100%;
  padding: 0 0;
}

@media(max-width: 768px){
  .img-rounded.img-responsive.center-block{
    display: none;
  }
  .img-circle{
    width: 15%;
  }
  .textSections{
    width: 100%;
  }
}
@media(max-width: 450px){
  .img-circle{
    width: 35%;
  }
}
@media(max-width: 320px){
  .img-circle{
    width: 40%;
  }
}