.modalAdmin {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 25rem;
  text-align: center;
  border-radius: 2rem;
  background-color: rgb(99, 99, 99);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modalMain {
  display: flex;
  flex-direction: column;
}

.modalBtn {
  width: 15rem;
  margin: 0.5rem;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem 2rem;
  color: red;
}

.modalBtn:hover {
  color: rgb(204, 202, 202);
  background-color: red;
  box-shadow: rgb(9, 9, 9) 0px 20px 30px -10px;
}