.navbar{
  background:buttonface;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_logo{
 width: 40%;
}
.nav_logo img{
  width: 15%;
  margin:0 1rem;
}
.nav_items{
  display: flex;
align-items: center;
margin-right: 1rem;
}
.nav_items a{
  position: relative;
  text-decoration: none;
  margin-right: 1rem;
}
.nav_toggle{
  display: none;
}
.btnsContainer button {
  border-radius: 1rem;
  border: none;
  padding: 0.2rem 0.3rem;
  color: red;
  transition: ease 1s;
}
.btnsContainer button:hover {
  color: buttonface;
  background-color: red;
  box-shadow: rgb(80, 80, 80) 0px 20px 30px -10px;
  transform: scale(1);
}
@media (max-width: 768px) {
  .nav_items{
      position: absolute;
      top: 8rem;
      left: 0;
      display: flex;
      flex-direction: column;
      width:20%;
     
      height: -webkit-fill-height;        
      transform: translateX(-120%);
      transition: 0.3s ease all;
  }
  .nav_items.open{
      transform: translateX(0) !important;
      background:buttonface;
      padding: 1rem;
      border: none;
  }
  .nav_logo img {
    width: 30%;
    margin-top: 0;
  }
  .nav_items.open a{
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    
  }
  .nav_items.open a:visited{
  color: black;
  }
  .btnsContainer button {
    font-size: 11px;
    margin-left: 0.5rem;
  }
  .nav_toggle{
      display: flex !important;
      flex-direction: column;                
      margin: 0.5rem;

  }
  .nav_toggle span{
      width: 30px;
      height: 4px;
      background: black;
      margin-bottom: 5px;
      border-radius: 2px;             
      transform-origin: 5px 0px;
      transition: all 0.2s linear;
  }
  .nav_toggle.open > span{
      transform: rotate(45deg) translate(0px, 0px);

  }
  .nav_toggle.open > span:nth-child(2){
      display: none;
  }
  .nav_toggle.open > span:nth-child(3){
      transform: rotate(-45deg) translate(-5px, 1px);
  }
}

@media(max-width: 450px){
  .nav_logo img {
    width: 50%;
    margin-top: 0;
  }
} 
@media(max-width: 320px){
  .nav_items.open{
    padding: 0 3rem;
}
} 