
.titulo {
  color: red;
  padding: 20px;
  border-radius: 20px;
}

.contactForm {
  width: 28rem;
  height: 32rem;
  background-color: buttonface;
  border-radius: 20px;
}

.name {
  width: 400px;
}

.email {
  width: 400px;
}

.message {
  width: 400px;
  height: 150px;
  border-radius: 20px;
  padding: 10px;
  border: 1px black solid;
}

.send {
  width: 400px;
  color: red;
  border-radius: 1rem;
  border: none;
  transition: ease 1s;
}

.send:hover {
  color: azure;
  background-color: red;
  box-shadow: rgb(80, 80, 80) 0px 20px 30px -10px;
  transform: scale(1);
}

.popupTitle {
  font-size: 16px;
  text-align: center;
}

.contactoMapa {
  display: flex;
  background-color: white;
  height: 100vh;
  justify-content: space-around;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('./Images/aereaCasas.jpg');
  background-position: center;
  background-repeat: none;
  background-size: cover;
}
.mapa{
  display: flex;
  align-items: center;
}
.contacto{
  display: flex;
  align-items: center;
}
.datos {
  display: flex;
  justify-content: space-around;
}

.direccion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.telefono {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.telefonos p {
  margin-top: 25px;
}

.mail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mail1 {
  margin-top: 30px;
}
@media(max-width: 768px){
  .contactoMapa {
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-image:none;
   background-color: buttonface;
  }
  .contacto {
    margin-top: 8rem;
    width: 100vw;
    align-items: center;
   justify-content: center;
  }
  .mapa{
    width: 100vw;
    align-items: center;
   justify-content: center;
   margin: 1rem 0;
  }
}
@media(max-width: 450px){
  .contactoMapa {
   height: 90%;
   }
  .contactForm {
    height: 22rem;
    margin-bottom: 3rem;
  }
  .titulo {
    padding: 0.5rem;
  }
  .name {
    width:15rem;
  }
  
  .email {
    width: 15rem;
  }
  .message {
    width: 15rem;
  }
}